[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
jupyter = "*"
sqlalchemy = "*"
pandas-profiling = "*"
"psycopg2" = "*"
requests = "*"
shapely = "*"
flask = "*"
redis = "*"


[dev-packages]



[requires]

python_version = "3.6"
